@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
    position: relative;
    width: 330px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}

section::before {
    content: ' ';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

section::after {
    content: ' ';
    position: absolute;
    inset: 4px;
    background-image: linear-gradient(117deg, #aaadbd 30%, #cdccd4 30%, #cdccd4 50%, #aaadbd 50%, #aaadbd 80%, #cdccd4 80%, #cdccd4 100%);
    background-size: 150.00px 294.39px;
    border-radius: 16px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

section form h2 {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 10;
    color: #04181d;
    text-align: center;
    font-size: 2.6em;
    font-family: 'Ubuntu', sans-serif;
}

section form {
    margin-top: 20px;
    width: 250px;
    height: 60px;
    padding: 20px;
    z-index: 1000;
}

[name="button"] {
    width: 100px;
    text-align: center;
    z-index: 1000;
}

[name="inputNumber"] {
    width: 100px;
    text-align: center;
    z-index: 1000;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    color: #00ff1e;
    font-size: 3em;
    text-align: center;
    z-index: 1000;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #f20404;
    background-color: #fff;
    font-size: 3em;
    text-align: center;
    z-index: 1000;
}